<div class="bg-[#212A3A] pt-4 sm:pt-10 lg:pt-12">
  <footer class="px-4 md:px-8 mx-auto">
    <center>
      <div
        class="flex flex-row justify-center items-center border-t border-b gap-4 py-6"
      >
        <!-- nav - start -->

        <a
          href="/tsadocuments"
          class="text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100"
          >TSA Documentation</a
        >
        <a
          href="/recovery"
          class="text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100"
          >Recovery</a
        >
        <a
          href="/safety"
          class="text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100"
          >Safety</a
        >

        <!-- nav - end -->
      </div>
    </center>

    <div class="text-gray-400 text-sm text-center py-8">
      ©
      <span id="current-year"></span>
      - Fut3r3 TSA. All rights reserved.
    </div>
  </footer>
</div>
