---
title: About
layout: "base.njk"
---

<h1 class="text-5xl font-bold uppercase text-center mt-10">
  Creating Oppurtunity For Everyone To Visit Space Since 1894
</h1>
<p class="text-4xl font-bold uppercase text-center mt-3 mb-10 text-slate-300">
  One Person, One Mission, One Planet At A Time
</p>

<div class="section-styling text-center about-cont">
  <h1>Explore The Unknown With Fut3r3</h1>

  <p>
    Fut3r3 is a space exploration company that aims to make space travel
    accessible to everyone. We are dedicated to creating the technologies and
    infrastructure necessary to make space travel a routine and achievable
    pursuit for everyone. Our ultimate goal is to make the vast expanse of space
    accessible and open to all, enabling humanity to explore, learn, and thrive
    in the infinite possibilities of the cosmos.
  </p>

  <h1>Why Trust Us?</h1>

  <p>
    Fut3r3 is a reputable space company that has earned the trust of its clients
    through its commitment to excellence and its innovative approach to space
    exploration. With a team of highly skilled and experienced professionals,
    Fut3r3 has a proven track record of successful missions and cutting-edge
    technology. Whether you are an individual looking to travel to space or a
    business seeking to expand your operations, Fut3r3 offers unparalleled
    expertise, safety, and reliability. Trust in Fut3r3 and join the journey to
    the future of space exploration.
  </p>

  <h1>Our Values</h1>

  <ul>
    <li>Integrity</li>
    <li>Excellence</li>
    <li>Commitment</li>
    <li>Teamwork</li>
    <li>Passion</li>
  </ul>
</div>

<div class="about-img">
  <h1>Are You Ready To Be An Astronaut Just Like John Here?</h1>
  <a href="/contact" class="w-1/3"
    ><button class="bg-emerald-400 px-5 py-3 w-full rounded-md">
      Contact Us
    </button></a
  >
</div>
