---
title: Contact Us
layout: "base.njk"
---

<!-- Make a script function for the form that sends the form using POST but then redirects to a different page -->

<script>
  function submitForm() {
    var form = document.getElementById("contact-form");
    form.submit();
    window.location.href = "https://www.google.com";
  }
</script>

<section class=" ">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center dark:text-white"
    >
      Contact Us
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      Got an issue? We're here to help. Send us a message and we'll get back to
      you as soon as possible. We usually respond within 24 hours. You can send
      us a message about our exploration program, information on space travel,
      or anything else you'd like to know.
    </p>
    <form
      action="https://formsubmit.co/fut3r3tsa@gmail.com"
      method="post"
      class="space-y-8"
      id="contact-form"
    >
      <div>
        <label for="email" class="block mb-2 text-sm font-medium"
          >Your email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div>
        <label for="subject" class="block mb-2 text-sm font-medium"
          >Subject</label
        >
        <input
          type="text"
          id="subject"
          name="subject"
          class="block p-3 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="Let us know how we can help you"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium dark:text-gray-400"
          >Your message</label
        >
        <textarea
          id="message"
          rows="6"
          name="message"
          class="block p-2.5 w-full text-sm bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Leave a comment..."
        ></textarea>
      </div>
      <button
        onclick="submitForm()"
        class="bg-blue-500 w-full py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
      >
        Send message
      </button>
    </form>
  </div>
</section>
