---
layout: "base-copy.njk"
---

<div class="hero flex flex-col">
  {% include "./_includes/components/header.njk" %}

  <center>
    <h1 class="font-bold text-3xl uppercase">Explore Without</h1>
  </center>
</div>

{# Script that inits rellax, a parallax library. Docs should be linked in the commit. #}
<script>
  // Also can pass in optional settings block
  var rellax = new Rellax('.rellax', {
    speed: -2,
    center: false,
    wrapper: null,
    round: true,
    vertical: true,
    horizontal: false
  });
</script>

<img src="./assets/rocketHero.svg" alt="Rocket" class="rellax" data-rellax-speed='7'/>
<h1 class="font-bold text-3xl uppercase" style="color: #008080">Boundaries</h1>

<center>
  <div class="flex rounded-md stone-man-section">
    <p class="text-white font-sans">
      Ever since the stone age, we were on a developmental stage to evolve and
      continue to improve our way of life. Thanks to our technology, we can make
      traveling to the deep space possible and accomplish that goal of
      evolution.
    </p>

    <img id="stone-man" src="/assets/StoneMan.gif" />
  </div>
</center>

<h2 class="font-bold uppercase index-why text-center">
  AND THAT'S WHY WE MADE F3
</h2>

<div id="f3-benefits">
  <div id="rocket-background">
    <img id="rocket-image" src="/assets/rocket.gif" />
  </div>
  <div class="mr-auto block">
    <h3 class="font-bold">Benifits of F3</h3>
    <ul>
      <li>- Cost Effective & Durable</li>
      <li>- Reusable</li>
      <li>- Uses less fuel than industry seen rockets</li>

      <li>
        - Using less fuel means that we can use our proprietary electric
        convergence technology to use motion to produce energy to allow cost to
        reduce dramatically.
      </li>
    </ul>
  </div>
</div>

<div class="are-you-ready rounded-md">
  <div class="text-center">
    <h1 class="font-bold text-5xl uppercase">
      ARE YOU READY TO DEFY THE LAWS OF PHYSICS & GO TO WHERE WE ONCE THOUGHT
      WAS IMPOSSIBLE?
    </h1>
    <a href="/contact">
      <button
        class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded mt-2"
      >
        Contact Us
      </button>
    </a>
  </div>
</div>
