---
layout: "base.njk"
---

<div class="hero flex flex-col">
  

  <center>
    <img src="/assets/rocketHero.svg" alt="Rocket" class="w-1/2 mx-auto">
    <h1 class="font-bold text-3xl uppercase">Explore Without</h1>
    <h1 class="font-bold text-3xl uppercase" style="position: relative; top:-90px; color:#008080">Boundaries</h1>

<div class="light-blue-box">
    <p style="width:60%; margin-right:250px; border-radius: 15px; "class="text-3xl text-white p-10 font-sans" style="">Ever since the stone age, we were on a developmental stage to evolve and continue to improve our way of life. Thanks to our technology, we can make traveling to the deep black space possible.</h2>
   
    <img id="stone-man"src="/assets/StoneMan.gif">
</div>
 <h2 class="font-bold text-3xl uppercase" style="font-size:60px; position:relative; top:60px;">AND THAT'S WHY WE MADE F3</h1>
 <div id="f3-benefits">
  <div id="rocket-background">
    <img id="rocket-image" src="/assets/rocket.gif">
    </div>
<div  style="position:relative; left:30%;top:200px;">
   
    <ul class="font-bold text-3xl uppercase">
      <h4 id="cheap-rockets">From its cheap prices</h4>
      <h4 id="reusable-rockets">To the low fuel usage</h4>
      <h4 id="F3-has-it-all">F3 has it all with its reusable and far distance rockets</h4>

    </ul>
</div>
</div>
    <p class="text-3xl text-white p-10 font-sans" style=""></h1>
    


  </center>
</div>
