---
layout: "base-copy.njk"
---

<script>
  fetch("https://api.spacexdata.com/v4/launches?limit=100")
    .then((response) => response.json())
    .then((data) => {
      const launches = data.length;
      document.getElementById("launches").innerHTML = launches;
    });
</script>

<div class="hero-index flex flex-col">
  {% include "./_includes/components/header.njk" %}

  <div class="section-styling">
    <h1 class="relative font-bold text-3xl uppercase z-8 text-center">
      Explore Without
    </h1>
    <h1
      class="relative font-bold text-3xl uppercase z-20 text-center"
      style="color: #008080"
    >
      Boundaries
    </h1>
    <img
      id="rocketimg1"
      src="./assets/rocketHero.svg"
      alt="Rocket"
      class="relative mx-auto z-10 xl:-inset-y-[2em] sm:-inset-y-10 animate-up"
    />
  </div>
</div>

<center>
  <div class="relative flex rounded-md stone-man-section -inset-y-40">
    <p class="text-white font-sans">
      Ever since the Stone Age, we have been in a developmental stage trying to
      evolve and continue improving our way of life. Thanks to advancements in
      technology, we can make traveling to the deepest reaches of space possible
      and accomplish humankind's goal of evolving past our current limitations.
    </p>
    <img id="stone-man" src="/assets/StoneMan.gif" />
  </div>
</center>

<h2 class="relative font-bold uppercase index-why text-center h-10 -inset-y-20">
  AND THAT'S WHY WE MADE F3
</h2>

<div id="f3-benefits">
  <div id="rocket-background">
    <img id="rocket-image" src="/assets/rocket.gif" />
  </div>
  <div class="mr-auto block">
    <h3 class="font-bold">Benefits of F3</h3>

    <ul>
      <li>Launched so far: <span id="launches"></span></li>
      <li>- Cost Effective & Durable</li>
      <li>- Reusable</li>
      <li>- Uses less fuel than current industry rockets</li>

      <li>
        - Using less fuel means that we can use our proprietary electric
        convergence technology to use motion to produce energy to allow costs to
        reduce dramatically.
      </li>
    </ul>
  </div>
</div>

<div class="are-you-ready rounded-md">
  <div class="text-center">
    <h1 class="font-bold text-5xl uppercase">
      ARE YOU READY TO DEFY THE LAWS OF PHYSICS & GO TO WHERE WE ONCE THOUGHT
      WAS IMPOSSIBLE?
    </h1>
    <a href="/contact">
      <button
        class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded mt-2"
      >
        Contact Us
      </button>
    </a>
  </div>
</div>

<script>
  document.getElementById("body");
</script>
