---
title: Training & Mission
layout: "base.njk"
---

<center class="mt-5">
  <div class="flex rounded-md stone-man-section">
    <p class="text-white font-sans" style="font-size: 16pt">
      Our mission at fut3r3 is to revolutionize space travel by making it easy,
      affordable, efficient, and accessible to all. We believe that space
      exploration and innovation are vital to the advancement of humanity, and
      we are dedicated to creating the technologies and infrastructure necessary
      to make this a reality. Through our commitment to research, development,
      and collaboration with the best and brightest in the industry, we aim to
      make space travel a routine and achievable pursuit for everyone. Our
      ultimate goal is to make the vast expanse of space accessible and open to
      all, enabling humanity to explore, learn, and thrive in the infinite
      possibilities of the cosmos.
    </p>

    <img id="stone-man" src="/assets/earth.gif" />
  </div>
</center>

<h2 class="font-bold uppercase index-why text-center">
  Welcome to the Fut3r3 training plan
</h2>
<p
  style="
    font-size: 20pt;
    width: 80%;
    text-align: center;
    align-items: center;
    position: relative;
    left: 10%;
  "
>
  Our program costs $400USD, you get to ensure your participation to see what it
  is like to go to space, travel on a rocket, and discover the farthest reaches
  of space unlike anyone else in a whole new way you never did.
</p>

<h2
  class="font-bold uppercase index-why text-center"
  style="color: #01a094; font-size: 40pt"
>
  The layout for the whole journey
</h2>

<section
  id="roadmap"
  class="container"
  style="width: 70%; position: relative; left: 20%"
>
  <div class="row justify-content-center">
    <div class="col text-center"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-10">
      <div class="roadmap">
        <div class="rcontainer">
          <div class="roadmap-wrapper">
            <div class="roadmap-item-wrap left scrollflow">
              <div class="roadmap-item left">
                <h5 class="list-title">February 13 - November 11th (2023)</h5>
                <ul class="roadmap-list">
                  <li>Learn how to stimulate space physics</li>
                  <li>Engage in VR and water taining</li>
                </ul>
              </div>
            </div>
            <div class="roadmap-item-wrap right scrollflow">
              <div class="roadmap-item right">
                <h5 class="list-title">November 24th- June 16th (2023-2024)</h5>
                <ul class="roadmap-list">
                  <li>Learn how to operate and control a rocket</li>
                </ul>
              </div>
            </div>
            <div class="roadmap-item-wrap left scrollflow">
              <div class="roadmap-item left">
                <h5 class="list-title">June 20th - August 3rd</h5>
                <ul class="roadmap-list">
                  <li>Learn how to work and control your space suits.</li>
                </ul>
              </div>
            </div>
            <div class="roadmap-item-wrap right scrollflow">
              <div class="roadmap-item right">
                <h5 class="list-title">
                  Week of Reflection ( August 10th-August 17th)
                </h5>
                <ul class="roadmap-list">
                  <li>Say bye to family and friends</li>
                  <li>Pack whats needed.</li>
                </ul>
              </div>
            </div>
            <div class="roadmap-item-wrap left scrollflow">
              <div class="roadmap-item left">
                <h5 class="list-title">September 1st and on</h5>
                <ul class="roadmap-list">
                  <li>
                    Begin taking off onto a whole new area of the universe
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section-styling">
  <h2
    class="font-bold uppercase text-center"
    style="color: #01a094; font-size: 40pt"
  >
    Want to upgrade your plan?
  </h2>
  <p class="font-medium text-center ">
    We have a few more plans for you to choose from, if you want to upgrade your
    plan, you can do so by clicking the button below.
  </p>
  <div class="h-[5vh]"></div>
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
  <stripe-pricing-table
    pricing-table-id="prctbl_1MXWOkImEZowwqFqu9rNpguQ"
    publishable-key="pk_test_51GnfhfImEZowwqFqYp0LcwDOsO5vnfbUiTbkLLnCDzgi4ySL1iphmPRsjvBzkx7ggXs9HAVNIOLfEdlomJha1ADr002cZbEiHO"
    
  >
  </stripe-pricing-table>
</section> -->

<div class="are-you-ready rounded-md">
  <div class="text-center">
    <h1 class="font-bold text-5xl uppercase">
      Have any questions about the whole plan to meet your future?
    </h1>
    <a href="/contact">
      <button
        class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded mt-2"
      >
        Contact Us
      </button>
    </a>
  </div>
</div>
