---
title: Recovery
layout: base.njk
---

<main class="section-styling mx-auto py-10">
  <h2 class="text-3xl font-bold mb-2">Steps to Recover a Space Vehicle</h2>
  <h1 class="font-medium mb-3">
    Recovery of our ships are the most important things to ensure that our
    rockets come back to our landing pad so that we can reuse it!
  </h1>

  <ol class="list-decimal">
    <li class="py-2 flex">
      <img
        src="https://cdn.pixabay.com/photo/2020/01/15/09/06/map-4767369_960_720.png"
        alt="Tracking the location of the space vehicle"
        class="w-16 h-16 mr-5"
      />
      <p>Track the location of the space vehicle using satellite technology</p>
    </li>
    <li class="py-2 flex">
      <img
        src="https://cdn-icons-png.flaticon.com/512/129/129568.png"
        alt="Communicating with the space vehicle"
        class="w-16 h-16 mr-5"
      />
      <p>
        Communicate with the space vehicle to assess its condition and determine
        if it is recoverable
      </p>
    </li>
    <li class="py-2 flex">
      <img
        src="https://cdn-icons-png.flaticon.com/512/4838/4838786.png"
        alt="Developing a plan for the recovery mission"
        class="w-16 h-16 mr-5"
      />
      <p>
        Develop a plan for the recovery mission, taking into account the
        location and condition of the vehicle
      </p>
    </li>
    <li class="py-2 flex">
      <img
        src="https://cdn-icons-png.flaticon.com/512/7626/7626185.png"
        alt="Assembling a team of experts"
        class="w-16 h-16 mr-5"
      />
      <p>
        Assemble a team of experts, including spacecraft engineers and recovery
        specialists
      </p>
    </li>
    <li class="py-2 flex">
      <img
        src="https://i.ibb.co/gPq162t/Asset-1.png"
        alt="Conducting the recovery mission"
        class="w-16 h-16 mr-5"
      />
      <p>
        Conduct the recovery mission, using a combination of remote control and
        on-site intervention as necessary
      </p>
    </li>
    <li class="py-2 flex">
      <img
        src="https://static.wixstatic.com/media/1c2cb6_dc4aaaf6313d4b1e9b595b9100cb503a~mv2.png/v1/fill/w_179,h_179,al_c,lg_1,q_85,enc_auto/Landing%20Pad%20-%20Icon.png"
        alt="Transporting the recovered space vehicle to a secure location"
        class="w-16 h-16 mr-5"
      />
      <p>
        Transport the recovered space vehicle to a secure location for further
        assessment and analysis
      </p>
    </li>
    <li class="py-2 flex">
      <img
        src="https://www.iconpacks.net/icons/1/free-analysis-icon-691-thumb.png"
        alt="Analyzing the data from the recovered space vehicle"
        class="w-16 h-16 mr-5"
      />
      <p>
        Analyze the data from the recovered space vehicle to gain insights into
        its performance and to identify any potential issues
      </p>
    </li>
  </ol>
</main>
