---
title: Rockets
layout: "base.njk"
---

<div class="section-styling">
  <h1 class="mt-8 text-center font-bold text-[2.7em]">
    We Love To See Our Glowing Globe & You Should Too!
  </h1>
  <p class="mt-1 text-center font-bold text-[2em] text-slate-200">
    Learn more about our rockets that will take you on the journey
  </p>
</div>

<div class="section-styling">
  <div class="rocket-container-left">
    <div class="r-left">
      <h3 class="">F6</h3>
      <p>
        Our F6 rocket is the most powerful rocket we have. It can take you to
        the moon and back in just 3 days! Perfect for quick and private trips.
      </p>
      <h4>Benefits:</h4>
      <ul>
        <li>Fastest 5 rider rocket</li>
        <li>Private</li>
        <li>Can take you to the moon</li>
      </ul>
    </div>
    <div class="r-right">
      <img
        src="https://res.cloudinary.com/cduoshop/image/upload/v1675302641/space-capsule_aarej8.png"
        alt="space capsule"
      />
    </div>
  </div>

  <div class="rocket-container-right">
    <div class="r-right">
      <img
        src="https://res.cloudinary.com/cduoshop/image/upload/v1675303711/Rocket-SG_r7f4a7.png"
        alt="space capsule"
      />
    </div>
    <div class="r-left text-right">
      <h3 class="">Flip 4</h3>
      <p>
        Flip 4 is our most popular rocket. It can take you to further than the
        moon to give you an even greater view of our universe. This is our most
        popular rocket for a reason. It's fast, private, and can take you to the
        moon. What more could you ask for?
      </p>
      <h4>Benefits:</h4>
      <ul>
        <li>Fastest 10 rider rocket</li>
        <li>Semi-Private</li>
        <li>Once in a lifetime views</li>
      </ul>
    </div>
  </div>
</div>
