---
title: Safety
layout: "base.njk"
---


<style>
  .medal{

  
  transform: scale(0.5);
  transform: rotateX('5');
  z-index: 0;
  margin-top: -15%;
}
  </style>
<h2 class="font-bold uppercase index-why text-center">
  Welcome to the Fut3r3's safety
</h2>
<p
  style="
    font-size: 20pt;
    width: 80%;
    text-align: center;
    align-items: center;
    position: relative;
    left: 10%;
    margin-bottom:200px;
  "
>
  At Fut3r3, we manage to be able to provide our people with the most safe experience from our crew and our astronauts. Many astronauts choose and decide to work with us is for them having a safe experience.
</p>

<h2
  class="font-bold uppercase index-why text-center"
  style="color: #01a094; font-size: 30pt"
>
  Awared by the international space commitee 2022 for the safest space company in the world from thousands of voters across the world.
</h2>
<center>
<img class="medal" src="/assets/medal.svg" alt="gold-medal">
</center>
<div style="margin-top:-600px;">
<h2
  class="font-bold uppercase index-why text-center"
  style="color: #ffffff; font-size: 40pt;margin-top:500px;"
>
  Here's our priority Safety percautions
</h2>

<ul
  class="font-bold uppercase index-why text-center"
  style="color: #01a094; font-size: 20pt"
>
<li style="margin-bottom:100px;">Well designed helmets reduce headaches at fast speeds</li>
<li style="margin-bottom:100px;">Rockets are spaced away from people to prevent hazards</li>
<li style="margin-bottom:100px;">The rockets are equipped with many safety and emergency materials incase of explosions</li>
<li style="margin-bottom:100px;">We hold the record for the least amount of rocket explosions</li>
</ul>
</div>


<div class="are-you-ready rounded-md">
  <div class="text-center">
    <h1 class="font-bold text-5xl uppercase">
      Have any questions about the whole plan to meet your future?
    </h1>
    <a href="/contact">
      <button
        class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded mt-2"
      >
        Contact Us
      </button>
    </a>
  </div>
</div>
