---
title: TSA Documents
layout: "base.njk"
---

<!-- Get the array of image URL's and put it into a p element that adds a number to the p tag to say image 1 and so on -->

<h1 class="text-5xl gray-800 m-10">Documentation & Sources</h1>

<h3 class="text-3xl ml-10 mb-3">Images</h3>

<p class="links"></p>

<div class="tsadocx">
  <div class="ml-10">
    <a
      href="https://www.vecteezy.com/vector-art/2397804-rocket-flying-free-vector-isolated-on-white-background"
    >
      <p>vecteezy</p>
    </a>
    <a href="https://pixabay.com/vectors/stone-age-caveman-primitive-4462628/">
      <p>pixabay</p>
    </a>
    <a
      href="https://pixabay.com/vectors/spacecraft-space-shuttle-rocket-148129/"
    >
      <p>pixabay</p>
    </a>
    <a
      href="https://www.vecteezy.com/vector-art/8565634-space-and-planetary-backgrounds-planetary-surface-with-mountains-stars-and-comets-in-dark-space-vector-illustration-space-sky-with-planets"
    >
      <p>vecteezy</p>
    </a>
    <a href="https://unsplash.com/photos/c9OCWLka764">
      <p>unsplash</p>
    </a>
    <a href="https://unsplash.com/photos/HNkgPFBShSw">
      <p>unsplash</p>
    </a>
    <a
      href="https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg"
    >
      <p>wikimedia</p>
    </a>
  </div>

  <div class="m-10">
    <h3 class="text-3xl mb-3">API</h3>
    <div>
      <p>https://api.spacexdata.com/v4</p>
    </div>
  </div>

  <div class="m-10">
    <h3 class="text-3xl mb-3">Technologies & Languages</h3>
    <div>
      <p>11ty</p>
      <p>Netpfy</p>
      <p>Nunjucks</p>
      <p>TailwindCSS</p>
      <p>JavaScript</p>
      <p>HTML</p>
      <p>CSS</p>
      <a href="https://codepen.io/atorresg/pen/maMKav">
        <p>Codepen</p>
      </a>
    </div>
  </div>

  <div class="m-10">
    <h3 class="text-3xl mb-3">Design File</h3>
    <div>
      <a
        href="https://www.figma.com/file/R0i4rfjlBOq8XR1H6Hxeuh/TSA-COMP?node-id=0%3A1&t=yRLsRzwB7tCStF5h-1"
      >
        <p>Figma</p>
      </a>
    </div>
  </div>

  <div class="m-10">
    <h3 class="text-3xl mb-3">Official Documents</h3>
    <div>
      <a
        href="https://www.dropbox.com/s/oxtm747v4w7j8w0/Carlos%20Diaz%20Check%20pst.pdf?dl=0"
      >
        Copyright List
      </a>

      <a
        href="https://www.dropbox.com/s/tsktka8l352vnt0/Webmaster%20work%20log.pdf?dl=0"
      >
        <p>Webmaster Work Log</p>
      </a>
    </div>
  </div>
</div>
